<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzg.object">

    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".appcation.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/AppBlackTheme" -->
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CanvasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoadLayoutDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WaveActivity"
            android:label="@string/title_activity_wave"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.MagicLineActivity"
            android:label="@string/title_activity_magic_line"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.ScrollCardPagerActivity" />
        <activity android:name=".ui.GestureDetectorActivity" />
        <activity android:name=".ui.PatternLockActivity" />
        <activity
            android:name=".ui.HttpTestActivity"
            android:label="@string/title_activity_http_test"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.KotLinFirstActivity"></activity>
    </application>

</manifest>